{% include 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: false %}
<div class="text-center">
  <a href="#" class="btn btn--pink">{{ 'reviews.see_all_reviews' | t | upcase }}</a>
</div>
