{% assign _section = section.settings %}
<section class="page-content section-delivery">
  <div class="rectangle">
    <span class="title">2–3 DAY DELIVERY</span>
    <p>Deliveries usually arrive within 2–3 working days after dispatch.</p>
<!--     <span class="price">£4.99</span> -->
  </div>
  
  <div class="rectangle">
    <span class="title">NEXT DAY DELIVERY</span>
    <p>Order before 4pm Mon–Fri for next working day delivery.</p>
<!--     <span class="price">£4.99</span> -->
  </div>
  
  <div class="rectangle">
    <span class="title">EUROPE DELIVERY</span>
    <p>Deliveries usually arrive within 3–5 working days after dispatch.</p>
<!--     <span class="price">£4.99</span> -->
  </div>
  
</section>