<section class="page-content section-contact">
  <div class="rectangle-wrapper">
    <div class="rectangle">
      <span class="title">PRODUCT QUESTIONS</span>
      <p>Get in touch if you have any questions about our products, and a member of our expert team will be in touch.</p>
      <a href="mailto:help@beautyandthebear.com?subject=Product Questions" class="contact-button"><span>EMAIL US</span></a>
    </div>

    <div class="rectangle">
      <span class="title">DELIVERY & RETURNS</span>
      <p>Our delivery and returns policies are super simple and straightforward. Click the button below for find out more.</p>
      <a href="/pages/delivery" class="contact-button"><span>READ MORE</span></a>
    </div>

    <div class="rectangle">
      <span class="title">PRESS & MEDIA</span>
      <p>Our friendly team is here to help with all press, media, and influencer enquiries.</p>
      <a href="mailto:help@beautyandthebear.com?subject=Press and Media" class="contact-button"><span>EMAIL US</span></a>
    </div>

    <div class="rectangle">
      <span class="title">WHOLESALE & BUSINESS</span>
      <p>For all UK and international trade enquiries, contact a member of our friendly team for more information.</p>
      <a href="mailto:help@beautyandthebear.com?subject=Wholesale and Business" class="contact-button"><span>EMAIL US</span></a>
    </div>

    <div class="rectangle">
      <span class="title">SUCCESS STORIES</span>
      <p>If you have a transformation or success story that you to share, we’d love to hear from you.</p>
      <a href="mailto:help@beautyandthebear.com?subject=Success Stories" class="contact-button"><span>EMAIL US</span></a>
    </div>

    <div class="rectangle">
      <span class="title">JOIN THE COMMUNITY</span>
      <p>Follow us using the links below and share your pics using #beautyandthebear</p>
      <ul class="social-links">
        <li><a href="https://www.facebook.com/beautyandthebearofficial"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/beautyandbears"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/beautyandthebear"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>

</section>
