<section class="section-easystep">
  <div class="shell">
    <div class="section__inner">
      <h2>EASY 4 STEP ROUTINE</h2>
      <div class="steps">
        <div class="step">
          <div class="circle">
            <span>CLEANSE</span>
          </div>
          <div class="des">
            <span>STEP 1</span>
            <p>Apply your favourite cleanser to your face.</p>
          </div>
        </div>
        <div class="step">
          <div class="circle">
            <span>SCRUB</span>
          </div>
          <div class="des">
            <span>STEP 2</span>
            <p>Move the brush in circular motions over your face for 1 minute.</p>
          </div>
        </div>
        <div class="step">
          <div class="circle">
            <span>RINSE</span>
          </div>
          <div class="des">
            <span>STEP 3</span>
            <p>Rinse and pat your face dry with a towel.</p>
          </div>
        </div>
        <div class="step">
          <div class="circle">
            <span>MASSAGE</span>
          </div>
          <div class="des">
            <span>STEP 4</span>
            <p>Activate anti-aging mode for wrinkle-prone points for 1 minute.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
