<div class="page-delivery">
  <div class="grid">
    <div class="grid__item one-whole delivery">
      <div class="page-content">
        <div class="section-header page-title text-center">
          <h1>{{ page.title }}</h1>
        </div>
      	<div class="sub-heading">{{ page.content }}</div>
      </div>

      {% section 'section-page-delivery' %}
    </div>
    <div class="grid__item one-whole returns">
      <div class="page-content">
        <div class="section-header page-title text-center">
          <h1>RETURNS</h1>
        </div>
      	<div class="sub-heading">
        	We’re happy for you to return and refund any products that are unopened with their original seal intact.
        </div>
        <div class="returns-description">
          <p>If you’d like to make a return, please email <a href="mailto:help@beautyandthebear.com">help@beautyandthebear.com</a> letting us know your order number, name and address, along with why you’d like to return your item(s). We will then provide you with a returns authorisation number and instructions, which is needed before you return your item(s).</p>
          <p>Our returns address is: Beauty Bear Ltd, Core Fulfilment, 1–3, Orion Park, Orion Way, Crewe, CW1 6NG, UK</p>
          <p>We recommend either using a tracked delivery service or obtaining a proof of posting when you return your order as we’re not responsible for items that go missing in the post. </p>
          <p>Unfortunately we’re not able to refund delivery costs from your order, or the cost of returning items unless they’re found to be faulty. </p>
          <p>All returned items must be unopened with their original seal intact.</p>
        </div>
      </div>
      
      {% section 'section-page-returns' %}

    </div>
  </div>
</div>