<div class="page-terms">
  <div class="grid">
    <div class="grid__item one-whole terms">
      <div class="page-content">
        <div class="section-header page-title text-center">
          <h1>{{ page.title }}</h1>
        </div>
      	<div class="sub-heading">{{ page.content }}</div>
      </div>

      {% section 'section-page-terms' %}

    </div>
  </div>
</div>