<div class="page-faqs">
  <div class="grid">
    <div class="grid__item one-whole">
      <div class="page-content">
        <div class="section-header page-title text-center">
          <h1>{{ page.title }}</h1>
        </div>
      	<div class="sub-heading">{{ page.content }}</div>
      </div>

      {% section 'section-faqs' %}

    </div>
  </div>
</div>

{% comment %}
{% section 'section-featured-products' %}
{% endcomment %}
